@import '../components/variables';

.post-heading {
  @include heading;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.post-summary {
  @include meta;
  display: block;
  font-size: 2rem;
  margin-bottom: 70px;
}

.post-content {
  @include text;
  margin-bottom: 70px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  @include heading;
  margin: 2rem 0 1rem 0;
}
.post-content h1 {
  font-size: 2rem;
}
.post-content h2 {
  font-size: 1.7rem;
}

.post-content p {
  margin: 0.5rem 0;
}

.post-meta {
  @include meta;
  font-size: 1rem;
}
