@import 'variables';

.posts-container {
  display: flex;
  flex-direction: column;

  padding: 40px 0;

  width: 100%;
  height: 100%;
}

.posts-hr {
  margin: 20px 0;
  background-color: darken($background, 20%);
}

.post-short {
  line-height: 1.2;
}

.post-short:hover .post-short-heading {
  text-decoration: underline;
}

.post-short-heading {
  @include heading;
  margin-bottom: 20px;
}

.post-short-excerpt {
  @include text;
  font-size: $font-size-small;
  margin-bottom: 20px;
  color: lighten($text-color, 20%);
}

.post-short-meta {
  @include meta;
}
