$base-background: #56406d;
$base-color: #9874bf;
$text-color: #000000;

$background: #ffffff;

$font-size-large: 1.4rem;
$font-size-normal: 1rem;
$font-size-small: 0.8rem;

$font-family-heading: Arial, sans-serif;
$font-family-text: Georgia, Times New Roman, Times, serif;

@mixin text {
  font-family: $font-family-text;
  font-size: $font-size-normal;
}
@mixin heading {
  font-family: $font-family-heading;
  font-size: $font-size-large;
  font-weight: 900;
}
@mixin meta {
  font-family: $font-family-text;
  font-size: $font-size-small;
  color: lighten($text-color, 50%);
}
